@import "tailwindcss";

body {
  background-color: white;
  font-family: var(--font-lexend);
}

.adopt_section {
  background: #58cc73;
  background: radial-gradient(circle, rgba(88, 204, 115, 1) 0%, rgb(114, 171, 236) 100%);
}